.navigation{
    background-color: #ffffff;
    color: #000000;
    opacity: .75;
    height: 60px;
    border: 0px;
    padding: 21px 0 0 11px;
    font-size: small;   
    display: grid;
    grid-template-columns: 50% 50%;
}

.rightnav{
    text-align: right;
    padding-right: 32px;
}

.leftnav{
    text-align: left;
}

.logo{
    vertical-align: middle;
    padding-top: 95px;
    
}

.searchboxcontainer{
    padding-top: 20px;
    color: #6e6e6e;
    text-align: center;
    
}

.searchbox{
    border-radius: 20px;
    color: #6e6e6e;
    padding: 4px;
    
    
}

body{
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    padding-left: 12px;
}

h1 {
    color: red;
}



a {
    color:black;
    text-decoration: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:hover{
    text-decoration:underline;
}